<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- log path 설정 -->
    <property name="LOGS_PATH" value="logs"/>

    <!-- Pattern -->
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-8.8relative] %green(%-5level) %magenta(${PID:-}) --- [%15.15thread] %cyan(%-50.50logger{50}) : %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-8.8relative] %-5level ${PID:-} --- [%15.15thread] %-50.50logger{50} : %msg%n"/>

    <!-- 콘솔(STDOUT) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- 파일(FILE) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- log 기록할 파일 위치 설정 -->
        <file>${LOGS_PATH}/logback.log</file>
        <!-- log 기록 타입 인코딩 -->
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGS_PATH}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 180 days' worth of history capped at 3GB total size -->
            <maxHistory>180</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <!-- 파일은 'INFO' level로 설정 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- log 레벨 설정 -->
    <root level="DEBUG">
        <!-- 참조할 appender 설정 -->
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
